<div class="alert alert-block alert-info">
    
# ECS 32A Core Python 3

## Values and Types

In [1]:
print(type(420))   # integers are whole numbers

<class 'int'>

In [16]:
print(type(42.0))  # floating point values have a decimal point

<class 'float'>

In [17]:
print(type('Spot said "Woof"'))  # strings are in quotes (single or double)

<class 'str'>

In [18]:
print(type("What's up")) # str are text

<class 'str'>

In [5]:
print(type(True)) # Only two boolean values True and False

<class 'bool'>

## Type Conversion

In [2]:
int("42") # Convert to integer

42

In [9]:
float("42.0") # Convert to float

42.0

In [11]:
str(42.0)+"%" # Convert to string

'42.0%'

In [13]:
bool("False") # Non-empty strings and non-zero numbers are True

False

## Operators

### Numeric

In [27]:
print(1+1, 1+1.0, 1.0+1.0) # addition

2 2.0 2.0

In [28]:
print(2-1, 2-1.0, 2.0-1.0) # subtraction

1 1.0 1.0

In [29]:
print(2*2, 2*2.0, 2.0*2.0) # multiply

4 4.0 4.0

In [30]:
print(8/2, 8/2.0, 8.0/2.0) # divide

4.0 4.0 4.0

In [31]:
print(98//25, 119.5//60)  # floor or whole number division

3 1.0

In [34]:
print(98%25, 119.5%60)  # modulus or remainder

23 59.5

### Concatenation and Repetition

In [35]:
"Spam" + "!"  # String Concatenation

'Spam!'

In [3]:
" " * 5  # String Repetition

'     '

In [3]:
[ "Spam" ] + ["Eggs"] # List Concatenation

['Spam', 'Eggs']

In [4]:
[ 0 ] * 5 # List Repetition

[0, 0, 0, 0, 0]

<div class="alert alert-block alert-info">

Operator Precedence
===================
<b>P</b>arentheses ()<br>
<b>E</b>xponent **<br>
<b>M</b>ultiply and <b>D</b>ivide * /<br>
<b>A</b>dd and <b>S</b>ubtract + -<br>
comparison <tt>== != < <= > >=<br>
<tt>not</tt><br>
<tt>and</tt><br>
<tt>or</tt><br><br>     Operators with the same precedence are evaluated left to right.

## Variable assignment, increment, decrement

In [37]:
count = 1 # assignment statements create variables
count = count + 1 # increment count by 1
count += 1 # increment count by 1 
count = count - 1 # decrement count by 1
count -= 1 # decrement count by 1

## User input

In [14]:
ans_str = input("Enter text:")
print("You entered '" + ans_str + "'.")

Enter text:Hello there!
You entered 'Hello there!'.

## Print

In [39]:
# Printing x and y
x = "First"  
y = "Last" 

print(x,y) # line 1 First Last 

# swap variables x and y
temp = x
x = y
y = temp

print(x,y) # line 2 Last First 

# Printing using sep and end
print(x,y, sep = ",") # line 3 Last,First
print(x, end = ",")   # line 4 Last,
print(y)              # line 4 cont. First

First Last
Last First
Last,First
Last,First

## Formatting numbers

In [40]:
"{:.4f}".format(3.14159262) # 4 digits of precision

'3.1416'

In [5]:
"${:.2f}".format(3.14159262) # 2 digits of precision with added $

'$3.14'

In [4]:
"{:6.0f}".format(3.14159262) # width 6 with 0 digits of precision

'     3'

## Conditional Execution
### Comparison operators

In [20]:
age = 18   # Assign age the value 18

In [44]:
age == 18  # age is equal to the value 18?

True

In [22]:
age != 19  # is not equal to

True

In [23]:
age < 18   # is less than

False

In [24]:
age <= 18  # less than or equal

True

In [25]:
age > 18   # is greater than

False

In [26]:
age >= 18  # greater than or equal

True

### Simple if Statement

In [27]:
if age >= 18:
    print("You can vote!")

You can vote!

###  if-elif-else Statement

In [30]:
age = 18
if age < 16: 
    print("You can't drive or vote!")
elif age < 18:
    print("You can drive but can't vote")
else:
    print("You can drive to vote!")

You can drive to vote!

### Logical operators: and, or, not

In [ ]:
True and True   # True
True and False  # False
False and True  # False
False and False # False

In [ ]:
True or True    # True
True or False   # True
False or True   # True
False or False  # False

In [ ]:
not True  # False
not False # True

### Boolean variables and expressions

In [68]:
age = 18  # Assign age to 18
can_drive = age >= 16 # True
print(can_drive)

True

In [64]:
ans = 'a'
valid_input = ans == 'a' or ans == 'b' or ans == 'c'  # Chose a b or c
invalid_input = ans != 'a' and ans != 'b' and ans != 'c'  # Did not choose a b or c
print(valid_input,invalid_input)

True False

### The in Boolean operator

In [5]:
# on a string it returns True if the left string is a substring of the right string
"Wed" in "Tuesday,Wednesday,Thursday"

True

In [6]:
# on a list it returns True if the entire left value is an element in the right list
"Wed" in ["Tuesday","Wednesday","Thursday"]

False

## Try and Except

In [ ]:
try:
    num = int(input("Enter an integer:"))
    print("You entered", num)
except:
    print("You did not enter an integer!")

## Iteration
### definite while loop

In [6]:
n = 5
while n > 0:
    print(n, end=",")
    n = n - 1
print("Blastoff!")

5,4,3,2,1,Blastoff!

###  indefinite while loops

In [33]:
while True:
    ans = input("Enter 'done' to exit:")
    if ans == "done":
        break

Enter 'done' to exit:
Enter 'done' to exit:no
Enter 'done' to exit:done

In [ ]:
done = False
while not done:
    ans = input("Enter 'done' to exit:")
    if ans == "done":
        done = True

In [ ]:
while ans != "done":
    ans = input("Enter 'done' to exit:")

## break and continue in loops

In [57]:
# break jumps out of the loop
j = 1
while True:
    print(j, end=' ')
    j += 1
    if j>10:
        break
print('We are done!')

1 2 3 4 5 6 7 8 9 10 We are done!

In [34]:
# continue jumps back to the top
i = 1
while i<10:
    i +=1
    if i%2 == 1:
        continue
    print(i,end=' ')
print('We are done!')

2 4 6 8 10 We are done!

## for loops

In [7]:
# Do something 5 times
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [1]:
# Loop through the numbers 1 to 9
for i in range(1,10,2):
    print(i,end=" ")

1 3 5 7 9

In [10]:
# Do something for every element of a list
days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']
for item in days:
    print(item, end=" ")

Sun Mon Tue Wed Thu Fri Sat

In [11]:
# Do something for every index of a list
for i in range(len(days)):
    print("The element at index",i,"is", days[i])

The element at index 0 is Sun
The element at index 1 is Mon
The element at index 2 is Tue
The element at index 3 is Wed
The element at index 4 is Thu
The element at index 5 is Fri
The element at index 6 is Sat

In [7]:
# Do something for every character in a string
for character in "Password":
    print(character, end=",")

P,a,s,s,w,o,r,d,

## Random functions

In [38]:
import random
die = random.randint(1,6) # random integer in the interval [1,6]
print(die)

4

In [40]:
import random
coin = ["Heads","Tails"]
coin_result = random.choice(coin)
print(coin_result)

Heads

In [42]:
import random
unif = 10*random.random() # random floating point in the interval [0,1)
print(unif)

2.9431400107223915

## String Methods

In [16]:
# Case methods
print("abc".upper(),"ABC".lower(), "ABC".capitalize())

ABC abc Abc

In [17]:
# Boolean string methods
print("ABC".isupper(),"abc".islower(),"123".isdigit())

True True True

In [18]:
# strip 
"\n\t Line \t\n".strip() # strip all whitespace from both ends

'Line'

In [19]:
# rstrip
"\n\t Line \t\n".rstrip("\n") # strip "\n" from right end

'\n\t Line \t'

In [23]:
# replace
"100,000,000".replace(",","")

'100000000'

In [24]:
# remember string methods do not change strings 
# so use this syntax if that is what you want
line = "$100.00"
line = line.strip('$')
print(line)

100.00

In [25]:
"Spam, spam, spam, spam!".count("spam")

3

In [26]:
# split on whitespace; split returns a list
"Value 1\tValue 2\tValue 3".split()

['Value', '1', 'Value', '2', 'Value', '3']

In [27]:
# split on tabs
"Value 1\tValue 2\tValue 3".split("\t")

['Value 1', 'Value 2', 'Value 3']

In [29]:
# simultaneously assign split output to multiple variables
v1, v2 = "Value 1,Value 2".split(",")
print(v1,v2)

Value 1 Value 2

## Files

In [ ]:
# open for reading
infile = open("input.txt")
# open for writing
outfile = open("output.txt","w")
# open for append
outfile = open("output.txt","a")
# writing output
item = "Bagel"
cals = 300
line = item+","+str(cals)+"\n" 
outfile.write(line) # writes "Bagel,300\n"
# close the file
outfile.close()

# Loop over lines of a file printing them to the screen
for line in infile:
    line = line.strip()
    print(line)

# Lists, List methods, Functions on Lists

In [30]:
# Seed and grow a list
L = [] # empty list
# add to the list using append
for i in range(10):
    L.append(i)
print(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
# sort a list in place (i.e. without making a copy but changing the list)
L.sort(reverse=True)
print(L)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
# remove and return a value at index (end by default)
L.pop(0)
print(L)

In [34]:
# max, min, sum, and sorted copy
print("maximum:",max(L))
print("minimum:",min(L))
print("sum:",sum(L))
print("average:",sum(L)/len(L))
print("sorted:",sorted(L))

maximum: 9
minimum: 0
sum: 45
average: 4.5
sorted: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Indexing and slicing

In [36]:
# Indexing works the same for strings and lists
# The first index is 0 and -1 counts from the end
s = "Spam!"
print(s[1],s[-1])

p !

In [37]:
# Slicing a string returns a sub-string, the range is specified start:stop 
# The stop is not included in the result. If either is omitted the slice will
# continue to the end.
s = "Spam!"
print(s[1:-1])
print(s[1:])
print(s[:3])

pam
pam!
Spa

## Dictionaries

In [1]:
# new empty dictionary
D = {}
# add key value pairs to dictionary
D['Jan'] = 31
D['Feb'] = 28
D['Mar'] = 31
print(D)

{'Jan': 31, 'Feb': 28, 'Mar': 31}

In [2]:
# remove a key value pair 
val = D.pop('Jan')
print("Jan removed with value",val)
print(D)

Jan removed with value 31
{'Feb': 28, 'Mar': 31}

In [3]:
# check if the key is in the dictionary before you look up the value
key = 'Dec'
if key in D:
    print(key,'has',D[key],'days')

In [4]:
# The get method is a way to look up values without checking
# the second argument to get is a default value that is returned
# if the key is not present
print(key,'has',D.get(key,"?"),'days')

Dec has ? days

In [5]:
# In a for loop a dictionary iterates over the keys
for key in D:
    print(key, "has", D[key], "days")

Feb has 28 days
Mar has 31 days

In [6]:
# The dictionary method values returns a sequence of values
# it works in for loops and with functions on sequences
for value in D.values():
    print(value, "days")
print("Total", sum(D.values()))

28 days
31 days
Total 59

In [7]:
# The dictionary method items returns (key, value) tuples
# Sort keys by value by creating a list of (value, key) tuples
tuples = []
for key,value in D.items():
    t = (value,key)
    tuples.append(t)
tuples.sort()
print(tuples)

[(28, 'Feb'), (31, 'Mar')]

## Tuples

In [ ]:
# Tuples are immutable lists, use them for values that should be kept together
# The parentheses around the elements are usually optional
t = 1,2,3
t = (1,2,3) 
t[1] = 7 # you can't do this they are immutable

In [8]:
# Parentheses are optional, tuples on the left of an assignment
# unpack sequences like lists, tuples, and strings
first, second = ['Eric','IDLE']
print(first,second)
# simultaneous assignment can be used to swap values
first, second = second, first
print(first,second)

Eric IDLE
IDLE Eric

## Writing functions

In [41]:
# Function with parameters a and b returns a to the power of b
def power(a,b):
    c = a**b
    return c  # a return statement specifies the return value

power(2,3)

8

In [40]:
# A main() function can be used as an outline of the program.
# Don't forget the last line of your program is a call to main().
def main():
    my_string = "Python"
    print_big(my_string)
    
def print_big(seq): 
    print("-".join(seq.upper()))    # void functions don't need a return statement

main()

P-Y-T-H-O-N

## Classes & OOP

In [14]:
# A car class
class Car:
    # construct a new Car object with 0 miles
    def __init__(self, body_type="Sedan", color="White"):
        self.mileage = 0            # mileage driven
        self.color = color          # color
        self.body_type = body_type  # body type
        print(color,body_type,"constructed")
    # void method: drive a car     
    def drive(self, miles):
        # Drive the car miles miles
        self.mileage = self.mileage + miles
    # fruitful method: get the number of miles
    def get_type(self):
        return self.color + " " + self.body_type

In [6]:
myCar1 = Car()
myCar2 = Car("Truck","Red")

print(myCar1.get_type(), "has", myCar1.mileage, "miles")
print(myCar2.get_type(), "has", myCar2.mileage, "miles")

White Sedan constructed
Red Truck constructed
White Sedan has 0 miles
Red Truck has 0 miles

In [13]:
# Car Racing Game
import random

# Create a list of cars
cars = []
for color in ['Red','White','Black','Silver','Gray']:
    cars.append(Car('Sports',color))

# Race cars by driving each car a random distance.
for car in cars:
    car.drive(random.randint(1,99))
    print(car.get_type(), "drove", car.mileage, "miles")

# Sort cars using list of tuples
tuple_list = []
for car in cars:
    tuple_list.append((car.mileage,car))

tuple_list.sort(reverse=True)
winning_miles, winning_car = tuple_list[0]

print(winning_car.get_type(), "won!")  # print the winner

Red Sports constructed
White Sports constructed
Black Sports constructed
Silver Sports constructed
Gray Sports constructed
Red Sports drove 14 miles
White Sports drove 36 miles
Black Sports drove 64 miles
Silver Sports drove 91 miles
Gray Sports drove 69 miles
Silver Sports won!