# Discussion Notebook 3
## October 16th to October 20th

During the third week of discussion sections we will look at conditional execution.

 1. Comparison operators: == =! > >= < <=

 2. Logical operators: and, or, not

 3. Conditional statements if..elif..else

 4. Some Exercise

## Comparison Operators
Comparison operators work on numbers and strings. They compare two values are return True or False. For strings corresponding characters are compared from left to right and the integer representation of the character is the basis for the comparison. Remember looking under the hood using the ord() function to get the integer representation of the character? Look at the print statements below and see if you can predict the result of the  Boolean expressions that follow.

In [ ]:
a = bool(1==1.0)
print(a)

True

In [ ]:
b = bool("asdf")
print(b)

True

In [ ]:
c = bool(-1)
print(c)

True

In [ ]:
d = bool(0)
print(d)

False

In [ ]:
e = bool()
print(e)

False

In [ ]:
f = bool('abc')
print(f)

True

In [ ]:
a = input("Enter:")
print(type(a))

Enter:asd
<class 'str'>

In [ ]:
# comparison between integers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

if (a == b):
    print(a,"and",b ,"is equal")
elif (a < b):
    print(a,"is less than",b)
else: print(a,"is more than",b)

Enter first number: 12
Enter second number: 13
12 is less than 13

In [ ]:
# comparison between floats???
https://youtu.be/EYh35NrYkog?si=g8u8yi7HTI0QpQUF

In [ ]:
# comparison between numbers as strings
# with strings, comparison operator will sort alphabetically.
# since 1 is before 5, "10" < "5" with strings.

str1 = input("Enter first number: ")
str2 = input("Enter second number: ")

if (str1 < str2):
    print(str1,"comes before",str2)
elif (str1 == str2):
    print(str1, "and", str2,"is equal")
else: print(str1,"comes after", str2)

Enter first number: 10
Enter second number: 2
10 comes before 2

In [ ]:
# comparison between lower and uppercase
# upper case letters are considered less than lower case letters.
# this is based on their ordinal values, found using ord()
lower = input("Enter a lower case letter: ")
upper = input("Enter an uppercase of the same letter: ")
print()
print('"'+lower+'"',"ordinal number is", ord(lower))
print('"'+upper+'"', "ordinal number is", ord(upper))
print('"'+lower+'"',"<",'"'+upper+'"',"is",bool(upper>lower))

Enter a lower case letter: a
Enter an uppercase of the same letter: A

"a" ordinal number is 97
"A" ordinal number is 65
"a" < "A" is False

In [ ]:
print('A - Z', "are", ord('A'),"-",ord('Z'))
print('a - z', "are", ord('a'),"-",ord('z'))
print('0 - 9', "are", ord('0'),"-",ord('9'))

A - Z are 65 - 90
a - z are 97 - 122
0 - 9 are 48 - 57

Comparison operators return a boolean value. As with any other value, we can assign that to a variable.

In [ ]:
# assigning boolean values to a variable
a = 1!=2
print(a)

True

## Logical Operators

<u>and</u>, <u>or</u>, <u>not</u> are our logical operators. We can think of <u>and</u> as multiplication, and <u>or</u> as addition. Then, imagine that True is a 1, and False is a 0.

In [ ]:
# example: 0 times anything is 0
a = (1==2 and 3==3)
print(a)
# example: 1 plus any value is greater than 0
b = (0==0 or 2!=2)
print(b)
# if we don't use parentheses, order of operations is not, and, or
c = 0==0 or 2!=2 and not 0
print(c)

False
True
True

## Exercise 1: grades with plus or minus
A: 93-100, A-: 90-92, B+: 87-89, B: 83-86, B-: 80-82, C+: 77-79, C: 73-76, C-: 70-72, D+: 67-69, D: 63-66, D-: 60-62, F: Below 60

Could encode each individual case, but instead we'll use a nested conditional for the plus and minus

In [ ]:
# Nested case

Grade percentage:59

In [ ]:
# Individual case
if grade_percent >= 93:
    print("Letter grade is: A")
if grade_percent >= 90 and grade_percent <= 92:
    print("Letter grade is : A-")
if grade_percent >= 87 and grade_percent <= 89:
    print("Letter grade is : B+")
if grade_percent >= 83 and grade_percent <= 86:
    print("Letter grade is : B")
if grade_percent >= 80 and grade_percent <= 82:
    print("Letter grade is : B-")
if grade_percent >= 77 and grade_percent <= 79:
    print("Letter grade is : +")
if grade_percent >= 73 and grade_percent <= 76:
    print("Letter grade is : C")
if grade_percent >= 70 and grade_percent <= 72:
    print("Letter grade is : C-")
if grade_percent >= 66 and grade_percent <= 69:
    print("Letter grade is : D+")
if grade_percent >= 63 and grade_percent <= 66:
    print("Letter grade is : D")
if grade_percent >= 60 and grade_percent <= 62:
    print("Letter grade is : D-")
if grade_percent < 60:
    print("Letter grade is : F")

Letter grade is : F

Letter grade is : A-

## Exercise 2: Year in Range
Write a program that asks the user for a year between 1880 and 2020. If they enter a year in the correct range print "Thank You!" otherwise print "Out of range!". If you have extra time, do the follow up exercise immediately below.

Please enter a year between 1880 and 2020:2023
Wrong!!

If you have time, extend the year in range exercise to ask for an **even** year between 1880 and 2020.

Please enter a year between 1880 and 2020:1881
Nope

## Exercise 3: Ticket Price Calculator
In the space below, write a program that determines the price of a movie ticket. If the person is 12 years old or younger they pay the child rate of `$8`. If they are 65 or older they pay the Senior rate of `$10`. Otherwise they pay `$12`. Consider different ways of implementing the logic.

    Enter your age:12
    Ticket cost is $8

Enter your age:55
Ticket cost is $12

Enter your age:0
Ticket cost is $8

## Exercise 4: Student Discount  (Nested Conditionals)
Extend the program above to ask people between the ages of 13 to 64 if they are a student. If they reply 'y' or 'Y' they  pay $10 for their ticket. You can do this with or without nesting. Your solution should use a nested conditional statement.

Enter your age:44
Are you a student? Please enter('y'/'Y') or ('n'/'N'):y
Ticket cost is $10