## Notebook for Discussion Week 2 
## October 6 and October 9

### Welcome to your first Jupyter notebook.

During the second week of discussion sections we will look at how to load, modify, and save Jupyter notebooks in Google Colab. All students will have Google Colab accounts under their campus email adresses.

During the second discussion section we would like to bring your attention to the following notebooks.


 1. Discussion Notebook 2: This notebook 

 2. Core Python I: A core subset of the Python language used in this course. 
 3. Textbook Solutions: A folder containing solutions to the textbook exercises.

In this notebook we will use Jupyer notebooks to look at some of the basics of Python: 

 1. using the print function

 2. using the input function

 3. Python data types (strings, integers, and floating point) 

 4. converting between Python types

## Saving this notebook to your local workspace so you can modify it

 * While you are inside this notebook select "Save as..." from the File menu
 * You will see a prompt
```text 
 Enter a notebook path relative to notebook dir
```
 * Enter the following exactly:
```text
Discussion Notebook 2.ipynb
```

## Types and variables

In [ ]:
# Three basic data types covered so far
# Each one also corresponds to a type conversion function
print(type(1))
print(type(1.0))
print(type('1'))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# Can use these names as functions, to convert one data type into another
# Example, converting an integer into a string, and checking its type
print(int(float("1.3")))
print(str(1.3))
print(str(1))

1
1.3
1

## Operations and data types
Operator behavior depends on the data type!

In [ ]:
# adding with integers:
print(1 + 2)

# adding with strings:
print("1" + "2")

# adding strings and integers
print("He is" , 20, "years old")

3
12
He is 20 years old

In [ ]:
# division
print(type(4 / 2))
quotient = 15 / 10
print(quotient, type(quotient))

# floor division //
print(15 // 10)

#modulo %
print(4%2)

<class 'float'>
1.5 <class 'float'>
1
0

## Example: Temperature converter

How would you update the following program so that it converts from 32 Fahreheit instead of 0 Fahrenheit?

In [ ]:
fahrenheit = 18.1
celsius = (fahrenheit - 32.0) * (5/9)
print(fahrenheit, "Fahrenheit is", celsius, "Celsius.")
print(type(fahrenheit), type(celsius))

18.1 Fahrenheit is -7.722222222222221 Celsius.
<class 'float'> <class 'float'>

What is the type of fahrenheit? celsius?
Can you modify the above program to find out using the type() function?

## Input function

In [ ]:
usr_input = int(input("Type something again: "))
# what type do you think it will print?
print(type(usr_input))

Type something again: 12
<class 'int'>

## Example: Whole number division

White code to implement the example output given in the comments below  

Enter a number:7  
Enter a number to divide that by:2  
7 divided by 2 is 3 with 1 remaining

In [1]:
## write program here ##

## Getting user input

Consider the following program uses the input function to get two numbers to add from the user. It should then add two numbers and print the result. Run the program and enter 1 and 2. Does the result surprise you?

In [ ]:
a = input("Enter a number:")
b = input("Enter another number:")
print(a + b)

Enter a number:12
Enter another number:12
1212

The problem is that a and b are stings, so the program is not adding integers! The input function always returns a string. We can use the type() function to show that. Fix the program above, so that it correctly adds a and b as integers.

In [ ]:
a = input("Enter a number:")
print(type(a))

Enter a number:1234
<class 'str'>

In [4]:
## write program here ##

## Strings and the print function

In [ ]:
#printing with variables
a = "Hello"
print(a, "world")

#printing with concatenation
print(a + " world")

#printing with extra blank line
print()

#printing both quotation marks and apostrophes
print('"name" is', "he's")

Hello world
Hello world

"name" is he's

## Example: mad libs

 Output:  
 Enter a class:ECS 32A  
 Enter an adjective:motivated  
 Enter a verb:learn  
 Enter an exclamation:awesome  
 
 The students in ECS 32A are really motivated.  
 They're always ready to learn.  
 When it's time for class, they always yell, "awesome!"

In [ ]:
## write program here ##

Enter a class:ECS32A
Enter an adjective:motivated
Enter a verb:learn
Enter an exclamation:awesome

The students in ECS32A are really motivated.
They're always ready to learn.
When it's time for class, they always yell, "awesome!"

## Example: ordinal function, ord()

In [ ]:
# explanation of what the ord() function is doing, using the ascii table
# http://www.asciitable.com/
print(bin(ord("c")))

0b1100011

In [ ]:
print(hex(ord("c")))

0x63

In [ ]:
prnt = 1

In [ ]:
print(1)

1